header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;

  height: 80px;
  padding: 0 50px;
  background: rgba(255, 255, 255, 0.479);
  box-shadow: 0 0 20px white;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  text-decoration: none;
  list-style: none;
}

nav li {
  font-size: 18px;
}

nav a {
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav a:hover {
  color: purple;
  transition: all 1s;
}

header .nav-btn {
  font-size: 22px;

  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  visibility: hidden;
}

@media only screen and (max-width: 650px) {
  header .nav-btn {
    visibility: visible;
  }
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: gray;
    transform: translateY(-100vh);
  }

  header .resp-nav {
    transform: none;
  }

  .nav-close-btn {
    position: absolute;
    top: 30px;
    right: 50px;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50% 50%;

    text-decoration: none;
    list-style: none;
  }

  nav li {
    font-size: 18px;
    padding: 10px;
  }
}
